.example-card {
  width: auto;
  float: left;
  max-height:480px;
}

.example-header-image {
  background-size: cover;

}

.card-tile #card{
  max-height:100%;
}


#card-content .card-image{
  max-height:300px;
  width:auto;
}
  
  /* The expanding image container */
  /* .container {
    position: relative;
    display: none;
  } */
  
  /* Expanding image text */
  /* #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  } */
  
  /* Closable button inside the expanded image */
  /* .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  } */

  