<!-- <div  *ngFor = "let photo of photos" class="cell">
    <img src="{{photo.photoUrl}}" alt="{{photo.photoName}}" (click)="selectPhoto(photo);">
</div>  -->


<mat-grid-list cols="12" rowHeight="550px">
    <mat-grid-tile *ngFor ="let photo of photos" class="card-tile" [colspan] = "4" [rowspan]="1">
        <mat-card id="card">
            <div id="card-content">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image" style="background-image: url({{photo.photoUrl}})"></div>
                    <mat-card-title>{{photo.photoName}}</mat-card-title>
                    <mat-card-subtitle><span *ngFor ="let tag of photo.tags">#{{tag.tagName}} </span></mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image class="card-image" src="{{photo.photoUrl}}" alt="{{photo.photoName}}" (click)="selectPhoto(photo)">
                <mat-card-content>
                    <p>
                    {{photo.photoDescription}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </div>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>



<div *ngIf ="selectedPhoto" class="modal">

    <div class = "modal-content">

        <div class="modal-header">
            <span (click)="closeModal()" class="close">&times;</span>
            <h2>{{selectedPhoto.photoName}}</h2>
        </div>
            
        <div class = "modal-body">
            <img src="{{selectedPhoto.photoUrl}}" alt="{{selectedPhoto.photoName}}">
        </div>

        <div class = "modal-footer">
            <div>{{selectedPhoto.photoDescription}}</div>
            <span *ngFor ="let tag of selectedPhoto.tags">#{{tag.tagName}} </span>

        <div *ngIf = "canEdit">
            <form>
                <input id="photoUploadImage" type="file" name="file" (change)="onFileChange($event)" >
                <input id="photoName" type="text" name="photoName" (change)="onPhotoNameChange($event)" >
             
                <input id="photoDescription" type="text" name="photoDescription" (change)="onPhotoDescriptionChange($event)" >
            
            
                <input id="addTag" type="text" name="addTag" (change)="onAddTagChange($event)" >
            
                <button id="savePhotoButton"type="button" (click)="uploadPhoto()">Upload</button>
            </form>
        </div>

        </div>

        </div>
</div>
