<!-- <div  *ngFor = "let photo of photos" class="cell">
    <img src="{{photo.photoUrl}}" alt="{{photo.photoName}}" (click)="selectPhoto(photo);">
</div>  -->

<div class="photoview-container">
    <div class="photoview-grid">
        <div>
            <div *ngFor="let photo of photos" class="card-tile">
                <div class="card-content-wrap">
                    <div id="card" class="card-content" (click)="selectPhoto(photo)">
                        <div>
                            <div>
                                <h2 id="image-title">{{photo.photoName}}</h2>
                                <img class="card-image" src="{{photo.photoUrl}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-details-wrap">
                    <div class="card-details">
                        <div class="desc-wrap">
                            <span id="photo_description">{{photo.photoDescription}}</span>
                        </div>
                        <div class="tag-wrap">
                            <span id="tagSpan" *ngFor="let tag of photo.tags">#{{tag.tagName}} </span>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>





<div *ngIf="selectedPhoto" class="modal">

    <div class="modal-content">
        
        <div class="modal-header">
            <h2>{{selectedPhoto.photoName}}</h2>
            <span (click)="closeModal()" class="close">&times;</span>
        </div>
        <div class="modal-container">
            <div class="modal-body">
                <img src="{{selectedPhoto.photoUrl}}" alt="{{selectedPhoto.photoName}}">
            </div>
            <div class="modal-footer">

                <div *ngIf="canEdit">
                    <div class="title-description-container">
                        <mat-form-field>
                            <mat-label>Title</mat-label>
                            <input matInput id="photoName" type="text" [(ngModel)]='photoTitleInput'>
                        </mat-form-field>
                        <div>
                            <mat-form-field>
                                <mat-label>Description</mat-label>
                                <textarea matInput id="photoDescription" [(ngModel)]='photoDescInput'></textarea>
                            </mat-form-field>
                        </div>
                    </div>
    
                    <div class="tag-container">
    
                        <!-- <label for="createTags">Tags: </label> -->
                        <span class="tagList" *ngFor="let tag of tempTagList">
                            #{{tag.tagName}}<span class="deleteTagBtn" (click)="deleteTag(tag)">&#x274C; &nbsp;</span>
                        </span>
                        <div id=changeTags>
                            <input id="addTag" [(ngModel)]='tagNameInput' name="addTag" type="text">
                            <button id="addTagButton" type="button" (click)="addTag()">Add Tag</button>
                        </div>
                    </div>
                    <div class="buttons-container">
                        <button id="saveButton" mat-mini-fab type="button" (click)="save()">
                            <mat-icon>save</mat-icon>
                        </button>
    
                        <button id="tryDeleteButton" mat-mini-fab type="button" (click)="tryDelete()">
                            <mat-icon>delete</mat-icon>
                        </button>
    
                        <span *ngIf="showDeleteConfirm">
                            <span>Are you sure?:</span>
                            <span><button id="yesDelete" (click)="deletePhoto()">Yes</button></span>
                            <span><button id="noDelete" (click)="cancelDelete()">No</button></span>
                        </span>
                    </div>
                </div>
    
                <div *ngIf="!canEdit">
                    <span *ngFor="let tag of tempTagList">#{{tag.tagName}} </span>
                    <div>{{selectedPhoto.photoDescription}}</div>
                </div>
    
    
            </div>

        </div>
        

        
    </div>

</div>