.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
    margin-top: 5px;
  }

  #register_content{
    margin: auto;
    width: 50%;
    padding-top: 50%;
    border: 3px solid purple;
    padding: 10px;
    text-align: center;
  }

  #submit_new_user{
    color: whitesmoke;
    background-color: navy;
    width: 200px;
  }

  #right_field{
      margin-left: 25px;
  }