#accordianHeader{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 500;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
    width: 100%;
    height: 100%;
}
.footer-logo-contriainer h2{
    font-style: American Typewriter, serif;
}
.footer-logo-contriainer h4{
    color: gray;
}
.contact-info-container h3{
    text-decoration: underline;
}
.photoview-content{ 
    height:99%;
    width:99%;
    overflow:auto;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25px;
}
.banner-container{
    width: 100%;
    display: flex;
}
md-grid-tile{
    height: calc(100vh - 24px);
    border:  1px solid black;
}

.search-bar{
    min-width: 100%;
    min-height: 100%;
    font-size: x-large;
    padding-bottom: 0;
    margin-top:1em;
    
}
.search-bar-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.add-photo{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: x-large;
}

.add-photo mat-label{
    padding-right: 15%;
}

.expansion-bar .expansion-bar-header{
    margin-top: 4em;
    margin-bottom: 4em;
    
}
.expansion-bar mat-expansion-panel-header{
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.expansion-bar .expansion-bar-spacer{
    flex: 1 1 auto;
    
}
.add-photo-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-banner-container {
    background-color: #fafafa;
}
