@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}


.colored-lines-container{
  width:100%;
  height:100%;
  display:flex;
  align-items:stretch;
}


.half1-diag2{
  background-color:#8A49A1;
  width:20%;
}
.half1-diag3{
  background-color:#ca2f7d;
  width:20%;
}
.half1-diag4{
  background-color:#DF6666;
  width:20%;
}
.half1-diag5{
  background-color:#F8BD70;
  width:20%;
}
.half1-diag6{
  background-color:#F8D99A;
  width:20%;
}



.container {
//   position: absolute;
  display: flex;
  justify-content: space-between;
//   margin: auto;
  top: 0;
//   left: 0;
//   right: 0;
  bottom: 0;
  width: 300px;
  height: 100px;
  .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: -260px;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: crimson;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    // box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    // box-shadow: 0 0 25px 0 crimson;
    &:hover {
      cursor: pointer;
    }
    &::before {
      content: "";
      position: absolute;
      margin: auto;
      top: 11px;
      right: 0;
      bottom: 0;
      left: 11px;
      width: 6px;
      height: 2px;
      background: white;
      transform: rotate(45deg);
      transition: all .5s;
    }
    &::after {
      content: "";
      position: absolute;
      margin: auto;
      top: -5px;
      right: 0;
      bottom: 0;
      left: -5px;
      width: 12.5px;
      height: 12.5px;
      border-radius: 50%;
      border: 2px solid white;
      transition: all .5s;
    }
  }
  .label {
    font-family: 'Inconsolata', monospace;
    position: absolute;
    margin: auto;
    top: 0;
    right: -100px;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;   
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    opacity: 1;
    // box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    // box-shadow: 0 0 25px 0 crimson;
    &:hover {
      cursor: pointer;
    }
    &::before {
      content: "User Lookup";
    }
    &::after {
      content: "";
    }
  }
  input {
    font-family: 'Inconsolata', monospace;
    position: absolute;
    margin: auto;
    top: 0;
    right: -260px;
    bottom: 0;
    left: 0;
    width: 25px;
    height: 25px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: white;
    color: white;
    text-shadow: 0 0 10px crimson;
    padding: 0 80px 0 20px;
    border-radius: 30px;
    // box-shadow: 0 0 25px 0 crimson,
    //             0 20px 25px 0 rgba(0, 0, 0, 0.2);
    // box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 0.5);
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      width: 300px;
      right:0;
      opacity: 1;
      background: crimson;
      cursor: text;
    }
    &:focus ~ .search {
      right: -275px;
      background: #151515;
      z-index: 6;
      &::before {
        top: 0;
        left: 0;
        width: 25px;
      }
      &::after {
        top: 0;
        left: 0;
        width: 25px;
        height: 2px;
        border: none;
        background: white;
        border-radius: 0%;
        transform: rotate(-45deg);
      }
    }
    &::placeholder {
      color: white;
      opacity: 0.5;
      font-weight: bolder;
    }
    &:focus ~ .label{
        opacity:0;
        left:-460px;
        letter-spacing:-4px;
    }
  }
}

.modal {
  -webkit-box-align: center;
  align-items: center;
  background: rgba(25, 25, 25, 0.9);
  bottom: 0;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 800;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Modal Content */
.modal-content {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  margin: 15px;
  max-height: 80vh;
  min-width: 0;
  z-index: 800;
  text-align: left;
  width: 1024px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(25, 25, 25, 0.2);
  overflow: auto;
  padding: 30px;
  position: relative;
}


/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.modal-header {
  padding: 10px;
  color: white;
}

.close {
  color: rgb(58, 58, 58);
  float: right;
  font-size: 28px;
  font-weight: bold;
  &:hover{
    cursor: pointer;
  }
  &:focus{
    color: #000;
  }
}


