<section>
    <mat-grid-list cols="12" rowHeight="10:1" [gutterSize]="'10px'">
        <mat-grid-tile [colspan]="12" [rowspan]="5"></mat-grid-tile>
        
        <mat-grid-tile [colspan]="1" [rowspan]="20"> </mat-grid-tile>
        <mat-grid-tile [colspan]="10" [rowspan]="20">
            <div class='internalMatGrid'> 
                <mat-grid-list cols="10" rowHeight="10:1" [gutterSize]="'10px'">
                        <mat-grid-tile id='user-profile-icon' [colspan]="2" [rowspan]="5"> User123 </mat-grid-tile>
                        <mat-grid-tile [colspan]="8" [rowspan]="5"> </mat-grid-tile>
                        <mat-grid-tile [colspan]="2" [rowspan]="5"> sign out </mat-grid-tile>
                        <mat-grid-tile [colspan]="8" [rowspan]="10" ></mat-grid-tile>
                </mat-grid-list>
            </div>   
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="20"> </mat-grid-tile>
        <mat-grid-tile [colspan]="12" [rowspan]="1"> </mat-grid-tile>
    </mat-grid-list>
</section>

<section>
    <mat-grid-list cols="24" rowHeight="10:1" [gutterSize]="'10px'" >
        <mat-grid-tile [colspan]="2" [rowspan]="12"> </mat-grid-tile>
        <mat-grid-tile [colspan]="10" [rowspan]="12"> 
        <mat-form-field id='search-bar'>
                <mat-label>Search</mat-label>
                <input matInput placeholder="Ex. Pizza" value="">
        </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="6" [rowspan]="12"> </mat-grid-tile>
        <mat-grid-tile [colspan]="4" [rowspan]="12">
            <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
                <mat-icon>plus_sign</mat-icon>
              </button>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="12"> </mat-grid-tile>
    </mat-grid-list>
</section>

<section>
    <mat-grid-list cols="12" rowHeight="10:1" [gutterSize]="'10px'">
        <mat-grid-tile [colspan]="1" [rowspan]="75" style="background-color:rgb(255, 122, 139)"> 2</mat-grid-tile>
            <mat-grid-tile [colspan]="10" [rowspan]="75" style="background-color:rgb(148, 240, 235)">
                
            </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="75" style="background-color:rgb(255, 122, 139)"> 2</mat-grid-tile>
    
        <mat-grid-tile [colspan]="12" [rowspan]="10" style="background-color:rgb(228, 122, 255)"> Footer</mat-grid-tile>
    </mat-grid-list>
</section>
