/* 
#B2E8E8
#314D63
#8FB9AB
#F4D096
#F08976 
*/

.half1{
  background-color: #B2E8E8;
  width: 35%;
  height:100%;
  
  
}

.half1-diag1{
  width:80%;
  height:105%;
  border-left: 80px solid #8A49A1;
  box-shadow: 2px 2px 4px 0px #703785b9;
  border-bottom-left-radius:52%;
}

.half1-diag2{
  width:84%;
  height:105%;
  border-left: 80px solid #ca2f7d;
  box-shadow: 1px 1px 1px 0px #ad276ad0;
  border-bottom-left-radius:54%;
 
}
.half1-diag3{
  width:88%;
  height:105%;
  border-left: 80px solid #DF6666;
  box-shadow: 2px 2px 4px 0px #b63535c7;
  border-bottom-left-radius:56%;
 
}
.half1-diag4{
  width:92%;
  height:105%;
  border-left: 80px solid #F8BD70;
  box-shadow: 2px 2px 4px 0px #ac7936c0;
  border-bottom-left-radius:58%;
}

.half1-diag5{
  width:96%;
  height:105%;
  border-left: 80px solid #F8D99A;
  border-bottom: 8px solid #F8D99A;
  box-shadow: -300px 300px 5px 5px #F8D99A;
  border-bottom-left-radius:60%;
}



.container *{
  position:absolute;
  top:0;
  right:0;
}
.container{
  width:100%;
  height:100%;
  overflow: hidden;
}

.background{
  display:flex;
  justify-content: center;
  width:100%;
  height:100%;
  overflow: hidden;
}