<!-- <div id="login_content"> -->
  <!-- <h1>Login</h1> -->

  <mat-grid-list cols="12" rowHeight="1%">
    <mat-grid-tile [colspan]="12" [rowspan]="20" style="background-color:rgb(137, 255, 122)"> Banner</mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="75" style="background-color:rgb(255, 122, 139)"> 2</mat-grid-tile>
    <mat-grid-tile [colspan]="8" [rowspan]="25"> </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="75" style="background-color:rgb(255, 122, 139)"> 2</mat-grid-tile>
    <mat-grid-tile [colspan]="8" [rowspan]="15"> 
        <h1>Login</h1>
        <p>
          <mat-form-field appearance="fill">
            <mat-label id="username_input">Enter username</mat-label>
            <input matInput placeholder="matt1992" [(ngModel)]="username" id="username_input">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label id="password_input">Enter password</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="bestPassEva" [(ngModel)]="password" id="password_input">
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </p>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="8" [rowspan]="8" > 
      <button mat-raised-button id="login_btn" (click)="loginUser()">Login</button>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="8" [rowspan]="8"> 
      <button mat-raised-button id="register_user_btn" (click)="openRegistrationView()">Register New Account</button> 
    </mat-grid-tile>
    <mat-grid-tile [colspan]="8" [rowspan]="4"> </mat-grid-tile>
    <mat-grid-tile [colspan]="12" [rowspan]="5" style="background-color:rgb(228, 122, 255)"> Footer</mat-grid-tile>
  </mat-grid-list>

  
