/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.internalMatGrid{ min-width:100%; min-height:100%;}

md-grid-tile{
    height: calc(100vh - 24px);
    border:  1px solid black;
}

.search-bar{
    min-width: 100%;
    min-height: 100%;
    font-size: x-large;
    padding-bottom: 0;
    
}

.add-photo{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: x-large;
}

.add-photo mat-label{
    padding-right: 15%;
}

.expansion-bar .expansion-bar-header{
    margin-top: 2em;
    margin-bottom: 2em;
    
}
.expansion-bar mat-expansion-panel-header{
    padding-top: 2em;
    padding-bottom: 2em;
}

.expansion-bar .expansion-bar-spacer{
    flex: 1 1 auto;
    
}

