/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.internalMatGrid{ min-width:100%; min-height:100%;}

md-grid-tile{
    height: calc(100vh - 24px);
    border:  1px solid black;
}

#search-bar{
    min-width: 100%;
    min-height: 100%;
    font-size: x-large;
    padding-bottom: 0;
    
}
